<div class="row">
    <div class="col-12">
        <h1 class="p-3 text-secondary text-white">
            Previewing | {{Project.FileRefNo}}
        </h1>
        <hr>
    </div>
    <div class="col-8">
        <table class="table table-sm table-striped">
            <tbody>
                {{> tableRows}}
            </tbody>
        </table>
    </div>

</div>