<div class="row">
    <div class="col-12 text-center">
        <h1>Http Error 408: View Not Mounted</h1>
        <p style="font-weight:bold;" class="text-danger">SQL Server Memory Consumption Too High!</p>
        <label for="" class="text-secon">Recommending installing development version of ODBC 3.5.5</label>
    </div>
</div>