<div class="row">
    <div class="col-8">
        
     
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Create New User Account
                </h4>
            </div>
            <div class="card-body">
                <form action="users" method="POST" class="form-group">
                    <div class="form-row">
                        <div class="col-6 form-group">
                            <label for="">Firstname</label>
                            <input type="text" name="Firstname" placeholder="(Required)"
                                class="form-control form-control-md" required>
                        </div>
                        <div class="col-6 form-group">
                            <label for="">Lastname</label>
                            <input type="text" name="Lastname" placeholder="(Required)"
                                class="form-control form-control-md" required>
                        </div>
                        <div class="col-4 form-group">
                            <label for="">Email Address</label>
                            <input type="email" name="EmailAddress" placeholder="(Optional)"
                                class="form-control form-control-md" required>
                        </div>
                        <div class="col-8 form-group">
                            <label for="">Title / Role</label>
                            <input type="text" name="Title" placeholder="e.g Project Manager"
                                class="form-control form-control-md" required>
                        </div>
                        <div class="col-12 text-right mt-3">
                            <button type="reset" class="btn btn-danger">Clear</button>
                            <button type="submit" name="submit" class="btn btn-success">Submit Data</button>
                        </div>
                        {{!-- <div class="col-12">
                            <div class="row">
                                {{#each user_rights}}
                                <div class="col-3 form-group">
                                    <input type="checkbox" name="user_rights" id="">
                                    <label for="">{{this.UserRight}}</label>

                                </div>
                                {{/each}}
                            </div>
                        </div> --}}
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>