<div class="row">
    <div class="col-12">
        <h4 style="font-family:impact;" class="p-2 bg-dark text-center text-white">{{ReportName}}</h4>
    </div>
    <div class="col-12">
        <h3><a style="text-decoration:underline;" href="Reports"><i class="fa fa-chevron-left"></i> Reports List</a></h3>
    </div>
    <div class="col-12">
        {{!-- {{{Table}}} --}}
        <div id="output" class="p-2" style="width:100%;height:auto; overflow-y:scroll;" ></div>
    </div>
</div>

<style>
    #tablify thead th{
        font-family: 'Roboto' !important;
        font-weight: bold !important;
        font-size: 15px !important;
        text-transform: uppercase !important;
    }


 #tablify tbody tr td{
        font-family: 'Roboto' !important;
        font-size: 10px !important;
    }

</style>

<script>
    let renderer = 'pivot.js'
    $(()=>{
        fetchReport();

        const Report = {
            data:[
                    {
                        client_name:'Clifford Mwale',
                        email:'cliffmwale97@gmail.com',
                        amount:2400000
                    },
                    {
                        client_name:'Esther Nguluwe',
                        email:'esthernguluwe@gmail.com',
                        amount:130000
                    },
                    {
                        client_name:'Solomon Mwale',
                        email:'solomon.mwale@gmail.com',
                        amount:3000000
                    }
                ]
        }
        
        //renderReport(Report)
    })

    let fetchReport = async()=>{
        try{
            //Get reports_id from url
            const params = new URLSearchParams(window.location.search)
            console.log(params)
            const reports_id = params.get('reports_id')
            console.log(reports_id)
            //Get report data
            const response = await fetch(`${BASE_URL}/Reports/fetch/${reports_id}`)
            const data = await response.json()
            if(data.status == 'success'){
                //Render report data
                if(renderer == 'pivot.js'){
                    renderPivotReport(data.Report)
                }else{
                    renderWebReport()
                }
            }else{
                alert(data.message)
            }
        }catch(err){
            alert(err.message)
        }
    }

    let renderPivotReport = (report)=>{
        let convertedKeys = []
        let dataString = JSON.stringify(report.data)
        report.keys.forEach((key, index)=>{
            let ckey =  key.replace(/([a-z])([A-Z])/g, '$1 $2')
            dataString = dataString.replace(`\"${key}\":`, `\"${ckey}\":`)
            convertedKeys.push(ckey)
        })
        console.log("Converted Keys : ",convertedKeys)
        console.log('Converted Data : ', JSON.parse(dataString))
        $(function(){
             google.load("visualization", "1", {packages:["corechart", "charteditor"]});
           
            var derivers = $.pivotUtilities.derivers;
            var renderers = $.extend($.pivotUtilities.renderers,
            $.pivotUtilities.export_renderers, $.pivotUtilities.gchart_renderers);

            $('#output').pivotUI(report.data,{
                renderers,
                rows:report.keys,
                cols:[],
                vals:[],
                aggregatorName: "Sum",
                rendererName: "Area Chart",
                rendererOptions: {
                    gchart: {width: 400, height: 300},
                    table: {
                        clickCallback: function(e, value, filters, pivotData){
                            var names = [];
                            pivotData.forEachMatchingRecord(filters,
                                function(record){ names.push(record.Name); });
                            alert(names.join("\n"));
                        }
                    }
                }
            })
        })
    }

    const renderWebReport = async (report)=>{
        console.log(report)
        //console.log()
        try{
            var pivot = new WebDataRocks({
            container: "#output",
            toolbar: true,
            report: {
                height:500,
                dataSource: {
                    data: report.data
                },
                grid:{
                    type:'flat'
                }
            }
        });
          
        }catch(err){
            console.log(err)
        }
    }
</script>
